<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.FriendshipMapper">
    
    <!-- 팔로워 추가 -->
	<insert id="insert" parameterType="Friendship">
		INSERT INTO Friendship (mem_no, mem_no2) 
		VALUES (#{mem_no},#{mem_no2})
	</insert>
	

	<!-- 로그인 -->
	<select id="select" >
	</select>


	<update id="update">
		
	</update>
	<!--  팔로워 삭제 -->
	<delete id="delete">
		
	</delete>
	
	<select id="selectall" resultType="Member_tbl">
		
	</select>

</mapper>