<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.Member_tblMapper">
    
    <!-- 회원가입 -->
	<insert id="insert" parameterType="Member_tbl">
		INSERT INTO member_tbl (mem_name, mem_id, mem_pwd, mem_email, mbti, nickname) 
		VALUES (#{mem_name},#{mem_id},#{mem_pwd},#{mem_email},#{mbti},#{nickname})
	</insert>

	<!-- 로그인 -->
	<select id="select" parameterType="String" resultType="Member_tbl">
		select * from member_tbl where mem_id=#{mem_id}
	</select>


	<update id="update">
		
	</update>

	<delete id="delete">
		
	</delete>
	
	<select id="selectall" resultType="Member_tbl">
		
	</select>
	
	<!-- 아이디를 넣으면 회원번호 알수잇는 기능 -->
	<select id="findmem_no" resultType="Integer" parameterType="String">
		SELECT mem_no FROM member_tbl WHERE mem_id=#{mem_id}
	</select>
	
	<select id="findid" resultType="Member_tbl">
		SELECT * FROM member_tbl WHERE mem_name=#{mem_name} and mem_email=#{mem_email}
	</select>
	
	<select id="findpwd" resultType="Member_tbl">
		SELECT * FROM member_tbl WHERE mem_id=#{mem_id} and  mem_email=#{mem_email}
	</select>
	
</mapper>