<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">



<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">

<!-- Template Main CSS Files -->
<link href="/css/variables.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/team.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

	

<script>
	$(document).ready(function() {
		$('#login_form > #signbtn > a').click(function() {
			$('#login_form').attr({
				'method' : 'post',
				'action' : '[[@{/loginimpl}]]'
			});
			$('#login_form').submit();
		});
	});
	function press(){
		if(window.event.keyCode == 13){
			formname.submit();
		}
}
</script>


<!-- <!-- 비밀번호 중복체크 -->
<script>

 var compare_result = false;

function fn_compare_pwd(){
	var pwd1=$('#member_pwd1').val();
	var pwd2=$('#member_pwd2').val();
	var s_result=$('#s_result');
	

	if(pwd1 == pwd2){
		
		compare_result=true;
		$('#s_result').text('비밀번호가 일치합니다.');
	}else{
		compare_result=false;
		$('#s_result').text('비밀번호가 일치하지 않습니다.');	
	}
}
 
</script>


<!-- <script th:inline="javascript">
	const idDuplcate= () =>{
		const id=document.getElementById("mem_id").value;
		const checkResult=document.getElementById("id-dup-result");
		$.ajax({
			type:"post",
			url:"/idCheck",
			dataType:"text",
			data:{
				"mem_id":memid
			},
			success:function(result){
				if(result=="ok"){
					checkResult.innerHTML="사용가능합니다.";
					checkResult.style.color="green";
				}else{
					checkResult.innerHTML="이미 사용 중인 아이디 입니다."
					checkResult.style.color="green";
				}
			},
			error:function(){
				alert("ajax실패");
			
			}
	     })
	}

</script>
 -->
<!-- 
<script>

//아이디 중복체크
    $('#mem_id').blur(function(){
        $.ajax({
	     type:"POST",
	     url:"checkSignup",
	     data:{
	            "mem_id":$('#mem_id').val()
	     },
	     success:function(data){	//data : checkSignup에서 넘겨준 결과값
	            if($.trim(data)=="YES"){
	               if($('#mem_id').val()!=''){ 
	               	alert("사용가능한 아이디입니다.");
	               }
	           	}else{
	               if($('#mem_id').val()!=''){
	                  alert("중복된 아이디입니다.");
	                  $('#mem_id').val('');
	                  $('#mem_id').focus();
	               }
	            }
	         }
	    }) 
});
</script> -->
<script>
 $("#joinbtn").click(function() {

                $.ajax({
                    url: "/btn",
                    type: "POST",
                    data: {
                        "id": $("#mem_id").val(),
                        "name": $("#mem_name").val(),
                        "pwd": $("#mem_pwd").val(),
                        "email": $("#email").val(),
                        "mbti": $("#mem_mbti").val(),
                        "nickname": $("#nickname").val(),
                        "auth": 1
                    },

                    // 마찬가지로 리턴받은 메시지(res)의 결과에 따라 처리해준다.
                    success: function(res) {
                        if(res.trim() == 'ok') {
                            console.log(res);
                            alert("가입되었습니다!");
                            // location.href="login.html";
                        } else {
                            alert("가입되지 않았습니다!");
                            $("mem_id").val("");
                            $("#mem_name").val("");
                            $("#mem_pwd").val("");
                            $("#mem_email").val("");
                            $("#nickname").val("");
                        }
                    }
                });
            });
</script>


</head>
<body>
<header th:replace="top.html :: navigation-bar"></header>

<div class="container" id="container">
<div class="form-container sign-up-container">
   <form action="/member/new" method="post">
      <h2>Create Account</h2>
      <span>to have wonderful experience!</span>
    
     <!--  <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
       -->
	 
	 
	 <input type="text" placeholder="Id" name="mem_id" id="mem_id" />
     <input type="text" placeholder="Name" name="mem_name" />
	 <input type="password" placeholder="password" name="mem_pwd" id="member_pwd1"/>
	 <input type="password" placeholder="verify password" name="mem_pwd2" id="member_pwd2" onkeyUp="fn_compare_pwd()">
	 <span style="color:red;" id="s_result"></span>
	 <input type="text" placeholder="E-Mail" name="mem_email" />
	 <input type="text" placeholder="MBTI(선택)" name="mbti" />	
	 <input type="text" placeholder="Nickname" name="nickname" />

      <button type="submit" id="joinbtn">Sign Up</button> 
    </form>  
  </div>


  <div class="form-container sign-in-container">
    <form action="#" method="post" id="login_form" name="formname"/>
      <h2>SIGN IN</h2>
      <span>다솜이짱</span>
      
       <input type="text" placeholder="Id" name="mem_id" />
       <input type="password" placeholder="Password" name="mem_pwd"/>
      
       <!-- <a th:href="@{/findpwd} onclick"window.open.href, '_blank">Forgot your password?</a>  -->
	 
       <a href="#" onclick="window.open
       ('lostinfo','new','scrollbars=yes,resizable=no width=500 height=750, left=600,top=200'); return login">Forgot your password?</a>
     	<br>
		<div id="signbtn">
    	<a><button >Sign In</button></a>
    	</div>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 >Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>

</body>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
  container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
  container.classList.remove("right-panel-active");
});
</script>

<!-- <script>
        function check_pw(){
 
            var pw = document.getElementById('mem_pwd').value;
            var SC = ["!","@","#","$","%"];
            var check_SC = 0;
 
            if(pw.length < 6 || pw.length>16){
                window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
                document.getElementById('pw').value='';
            }
            for(var i=0;i<SC.length;i++){
                if(pw.indexOf(SC[i]) != -1){
                    check_SC = 1;
                }
            }
            if(check_SC == 0){
                window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
                document.getElementById('mem_pwd').value='';
            }
            if(document.getElementById('mem_pwd').value !='' && document.getElementById('mem_pwd2').value!=''){
                if(document.getElementById('mem_pwd').value==document.getElementById('mem_pwd2').value){
                    document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                    document.getElementById('check').style.color='blue';
                }
                else{
                    document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                    document.getElementById('check').style.color='red';
                }
            }
        }
    </script> -->
<!-- <script>

	
function join() {
		alert("가입하겠습니까?");
		document.getElmentById("mem_id").style.display = "none";
		document.getElmentById("mem_pwd").style.display = "none";
		document.getElmentById("mem_pwd").style.display = "none";
		document.getElmentById("mem_tel").style.display = "none";
		document.getElmentById("mbti").style.display = "none";
		document.getElmentById("nickname").style.display = "none";

	}
	
</script> -->


</html>