<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
	$(document).ready(function() {

		$('#login_form > a').click(function() {
			$('#login_form').attr({
				'method' : 'post',
				'action' : '[[@{/loginimpl}]]'
			});
			$('#login_form').submit();
		});
	});
</script>
</head>
<body>
	<h1>Login Page</h1>
	<form id="login_form">
		ID<input type="text" name="mem_id"><span id="id_span"></span><br>
		PWD<input type="password" name="mem_pwd"><span id="pwd_span"></span><br>
		<a href="#">LOGIN</a>
	</form>
	<a th:href="@{/register}">register</a>
</body>
</html>


