<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<section>
        <aside id="top_aside" th:include="${top} ? ${top} : top"></aside>
</section>
<ul>
	<li><a th:href="@{/login}">Login</a></li>
	<li><a th:href="@{/logout}">Logout</a></li>
	<li><a th:href="@{/register}">Register</a></li>
</ul>
</body>
</html>