@charset "UTF-8";

 .position-relative > ul > li {
  float :left;
  list-style:none;
  margin : 10px;
}
#login_form_style{
	margin-top:200px;
	text-align: center;
	position:static;
	
}
#login_form_style input{
	margin:5px;
}
